.Sheet {
  // flex-grow: 1;
  border: 1px black solid;
  background-color: lightgrey;
  overflow: auto;
  width: 100%;
  .cornerBlock {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      width: 32px;
      border: 1px black solid;
    }
  }
  .columnHeaderRow {
    margin-top: 50px;
    display: flex;
    width: 100%;
    .colHeaders {
      p {
        width: 100px;
        border: 1px black solid;
        text-align: center;
      }
    }
  }
  .rowStyling {
    display: flex;
    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      p {
        text-align: center;
        width: 30px;
      }
    }
  }
}
